body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: whitesmoke;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.menu{
    display: none;
}
.container-black{
    margin-left: 80px;
    margin-top: 50px;
    height: 100vh;
    width: 50%;
    color: white;
}
.logo-container{
    display: flex;
    justify-content: left;
    align-items: left;
    transition: 4s;
}

.container-wrapper{
    display: flexbox;
    margin-top: 50%;
}

.container-wrapper p{
    font-size: 20px;
}

.container-wrapper .btn-container{
    background-color: brown;
    border: 3px solid brown;
    height: 60px;
    width: 150px;
    padding: 10px;
    border-radius: 20rem;
    transition: 0.5s;
}

.container-wrapper .btn-container:hover{
    background-color: gray;
}

.container-wrapper a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container-red{
    background-color:brown;
    height: 100%;
    width: 100%;
    border: 1px solid brown;
    clip-path: circle(100% at right -10%);
}
.navbar-container{
    margin-right: 80px;
    margin-top: 50px;
    text-align: right;
    color: white;
    line-height: 5px;
}

.navbar-container li{
    display: inline;
    margin-right: 5%;
}

.navbar-container a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    word-spacing: 20px;
    transition: 0.5s;
}

.navbar-container a:hover{
    color: black;
}

.swipper{
    margin-top: 20%;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
}

.swipper button{
    margin-top: 15%;
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 65px;
}

.swipper button:nth-child(1){
    text-align: left;
}


.swipper button:nth-child(2){
    text-align: right;
}

.swipper button:hover{
    color: black;
}

.swipper .img{
    display: none;
}
.swipper .imgVisivel{
    display: flex;
    max-height: 250px;
    max-width: 200px;
    padding-left: 60px;
    padding-right: 60px;
    transition: transform 0.5s ease;
    transform: translateX(-50deg);
}

.section-more{
    width: 100%;
    height: 100%;
}

.more{
    height: 50%;
    display: flex;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 120px;
}

.more-sabores {
    height: 100%;
    width: 100%;
    margin-right: 120px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.more-sabores h3{
    padding: 10px;
    text-align: left;
    border-left: 4px solid red;
    box-sizing: content-box;
}

.sabores-itens{
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sabores-itens *{
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sabores-itens * img{
    max-height: 170px;
    max-width: 220px;
    align-items: center;
    justify-content: center;
    padding: 5px; 
    display: flex;
    vertical-align: text-bottom;
}

.sabores-itens * a{
    max-width: 60%;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.more-types{
    height: 50%;
    display: flex;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 120px;
}

.types{
    height: 100%;
    width: 100%;
    margin-right: 120px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.types h3{
    padding: 10px;
    text-align: left;
    border-left: 4px solid red;
    box-sizing: content-box;
}

.types-itens{
    height: 100%;
    width: 100%;
    margin: 20px;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.types-itens img{
    padding: 4vh;
    max-width:100px;
    max-height:250px;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: 1s;
}

.types-itens img:hover{
    transform: scale(1.5);
}

.footer{
    width: 100%;
    height: 50%;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.footer-content{
    margin-left: 25%;
    margin-right: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-logo{
    margin-left: 0;
    margin-bottom: 5%;
    padding-left: 0;
    align-items: center;
    text-align: center;
}

.footer-logo img{
    max-width: 200px;
    max-height: 200px;
    margin-top: 30px;
}

.comunication{
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.comunication a{
    text-decoration: none;
    color: white;
}

.information{
    text-align: center;
}

.social-media{
    margin-top: 5%;
    justify-content: center;
    text-align: center;
    word-spacing: 20px;
    padding-right: 5%;
}

.social-media img{
    width: 25px;
    height: 25px;
}

@media only screen and (max-width: 850px){
    body{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .container{
        height: auto;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 0;
        background:  linear-gradient(-40deg, black, brown);
        background-size: 400vh 400vh;
        animation: bgTransition 20s ease-out infinite;
    }
    .menu{
        background-color: transparent;
        height: 2%;
        width: 100%;
        margin-right: 2%;
        display: flex;
        justify-content: right;
    }
    #toogle{
        display: none;
    }
    .checkbox{
        height: 70px;
        width: 70px;
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
    .checkbox .trace{
        padding: 0;
        width: 70px;
        height: 8px;
        background-color: dimgray;
        position: absolute;
        border-radius: 4px;
        transition: 0.5s ease-in-out;
    }
    .checkbox .trace:nth-child(1){
        top: 26px;
        transform: rotate(0);
    }
    
    .checkbox .trace:nth-child(2){
        top: 46px;
        transform: rotate(0);
    }
    
    .checkbox .trace:nth-child(3){
        top: 66px;
        transform: rotate(0);
    }
    #toogle:checked + .checkbox .trace:nth-child(1){
        transform: rotate(45deg);
        top: 47px;
    }
    
    #toogle:checked + .checkbox .trace:nth-child(2){
        transform: translateX(-100px);
        width: 30px;
        visibility: hidden;
        opacity: 0;
    }
    
    #toogle:checked + .checkbox .trace:nth-child(3){
        transform: rotate(-45deg);
        top: 48px;
    }
    .container-black {
        margin: 0;
        height: 100%;
        width: 100%;
        justify-content: center;
    }
    .container-black .logo-container{
        margin-top: 2%;
        justify-content: center;
    }

    .container-wrapper{
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        width: 90%;
    }
    .container-wrapper .btn-container{
        background-color: brown;
        align-items: center;
        border: 4px brown solid;
        transition: 0.5s;
    }

    .container-red{
        background-color: transparent;
        margin: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        clip-path: none;
        margin-top: 10%;
        margin-bottom: 10%;
        border: transparent;
    }
    
    .navbar-container {
        display: none;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .container-red .swipper{
        margin: 0;
    }
    .section-more .more{
        margin: 0;
        margin-top: 10%;
    }
    .more-sabores{
        max-width: 80%;
        max-height: 80%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }
    .more-sabores h3{
        text-align: center;
        max-width: auto;
        max-height: auto;
        border: transparent;
        border-bottom: 4px solid brown;
        padding-right: 25px;
        padding-left: 25px;
        
    }
    .sabores-itens{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }
    .sabores-itens * img{
        padding: 10px;
        max-height: 150px;
        max-width: 150px;
    }
    .sabores-itens * a{
        max-height: 100px;
        max-width: 200px;
    }
    .more-types{
        margin-bottom: 5%;
    }

    .types{
        max-width: 80%;
        max-height: 80%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }
    .types h3{
        text-align: center;
        border: transparent;
        border-bottom: 4px solid brown;
        padding-right: 25px;
        padding-left: 25px;
    }
    .types-itens{
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .types-itens img{
        max-width:250px;
        max-height:250px;
    }
    .footer{
        margin: 0;
        background-color: black;
        height: 50%;
        width: 100vh;

    }
    .footer-content{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 5%;
    }
    @keyframes bgTransition{
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 50% 70%;
        }
        100%{
            background-position: 70% 100%;
        }
    }

}

